.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.container {
  width: 600px;
  max-width: 100%;
}

.clickable {
  cursor: pointer;
}

.post {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.bar-left {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-right: 15px;
}

.profile-name {
  font-size: 0.9em;
  font-weight: 600;
}

.menu-icon {
  width: 1em;
  height: auto;
}

.video-container {
}

.video-wrapper {
  position: relative;
}

.action-icon {
  width: 1.5em;
  height: auto;
  margin-right: 1.2em;
  cursor: pointer;
}

.action-icon-right {
  width: 1.5em;
  cursor: pointer;
}

.video {
  width: 100%;
  display: block;
}

.controls {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.video-control {
  width: 100px;
  transition: opacity 200ms linear;
}

.control-shown {
  opacity: 1;
}

.control-hidden {
  opacity: 0;
}
